@import "home.scss";
@import "inventory.scss";
@import "recipe.scss";

@import "slider.scss";

@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat&display=swap');

/* Variables *********************************************************************/
$beercolor: #FFA800;
$black: #333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    width: 100%;
    background: $beercolor;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

/* Composant *********************************************************************/

.link {
    position: relative;

    color: $black;
    text-decoration: none;
    font-size: 20px;

    padding-bottom: 0.2rem;

    cursor: pointer;

    font-family: 'Cairo', sans-serif;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 0.1em;
        background-color: $black;
        transition: width 300ms;
    }

    &:hover::after, &:focus::after {
        width: 100%;
    }
}

/* Navbar *********************************************************************/

nav {
    position: relative;
    width: 100vw;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -5px;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: calc((100% * 53 / 750) / 6) 0;

        z-index: 10;
        .menu__item {
            list-style: none;
            margin-right: 2em;
        }
    }
}

.app{
    flex-grow: 1;
    display: flex;
}
