.recipe {
    width: 100%;
    height: 100%;

    h1 {
        font-family: 'Montserrat', sans-serif;
    }

    .recipe-content {
        width: 100%;
        display: flex;

        .recap-recip {
            width: calc((2/3)*100vw);

            form {
                display: flex;

                div {
                    display: inline;
                }
            }

            .table {
                width: 80%;
                height: 60vh;
                margin: 0 auto;
                background: #CCC;
            }
        }

        .threejs {
            width: calc((1/3)*100vw);
            background: #333;
            height: 100vh;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .animateBeer {
                position: relative;
                width: inherit;
                transform: translateX(30%);
                margin-bottom: 15em;
                margin-top: 10em;
            }

            ul {
                width: 70%;
                li {
                    color: #fff;
                    display: flex;
                    justify-content: space-between;

                    .p {
                        text-align: left;
                    }
                }
            }
        }
    }
}


/* Composant *********************************************************************/

.c-button {
    width: fit-content;
    color: black;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    padding: 0.5em 1em;
    box-shadow: 5px 5px 13px -6px rgba(0, 0, 0, 0.93);
    cursor: pointer;

    .active {
        color: white;
        border: 1px solid white;
        box-shadow: none;
    }
}