@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat&display=swap');
.slider{
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &-filter{
        display: flex;
        gap: 2rem;
        button{
            cursor: pointer;
            background-color: transparent;
            border: 1px solid black;    
            padding: 1rem;
            &:hover{
                color: black;
            }
        }
    }

    &-data_container{
        display: flex;
    }

    &-card{
        cursor: pointer;
        background-color: black;

        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &-content--collapsed{
        height: 100%;
        width: 100%;

        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        text-align: center;

        pointer-events: none;
    }

    &-content--expanded{
        height: 100%;
        width: 100%;

        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        text-align: center;

        pointer-events: none;

        opacity: 0;
        display: none;

        position: relative;

        h3{
            position: absolute;
            top: 0;
            left: 0;
            color: white;

            font-size: 10rem;
            white-space: nowrap;

            transform: translate(-50px, -100px);
        }
    }
}