@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat&display=swap');

.slider {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    min-width: 100vw;

    &-filter {
        display: flex;
        justify-content: center;
        gap: 2rem;

        width: 100vw;

        button {
            cursor: pointer;
            background-color: transparent;
            border: 1px solid black;
            padding: 1rem;

            &:hover {
                color: black;
            }
        }

        select, input{
            border: 1px solid black;
            border-radius: none;

            outline: none;
            background-color: transparent;

            min-width: 20ch;
        }
    }

    &-data_container {
        display: flex;
    }

    &-card {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        cursor: pointer;
    }

    &-content--collapsed {
        height: 100%;
        width: 100%;

        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        text-align: center;
        pointer-events: none;

        background-color: black;
    }

    &-content--expanded {
        height: 100%;
        width: 100%;

        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;

        flex-direction: column;
        gap: 2rem;

        display: none;

        padding: 2rem;

        background-color: black;
        color: white;

        overflow: scroll;

        h3 {
            color: white;
        }

        button{
            pointer-events: all;
            background-color: transparent;
            border: 1px solid white;
            padding: 1rem 0rem;
            color: white;
            cursor: pointer;
        }
    }
}