.slider{
    .btn_container{
        display: flex;
        gap: 1rem;
        button{
            cursor: pointer;

            background-color: transparent;
            border: 1px solid black;    
            padding: 1rem;
        }

        button:hover{
            color: black;
        }
    }
}